<div id="<%= dom_id author %>">
  <p>
    <strong>Email:</strong>
    <%= author.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Profile url:</strong>
    <%= author.profile_url %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= author.password %>
  </p>

</div>
